.Dmain h1 {
    font-family:-apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #2E4C74;
    margin: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    width: 80%;
    background: linear-gradient(to bottom, transparent 50%, #E6ECF0 50%);
}

.Dmain h2 {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #2E4C74;
    font-size: 20px;
    margin: 0;
    display: inline;
}

.Dmain h3 {
    font-family:-apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #2E4C74;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
}

.Dmain p {
    font-family:  -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #2E4C74;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
}

.container-Dmain {
    width: 70%;
    height: auto;
    padding: auto;
    margin:20px;
    text-align: left;
}

.container-title {
    display: flex;
    align-items: start;
    justify-content: space-between; /* Adjust if needed */
    gap: 10px; /* Add spacing between elements */
    text-align: start;
    padding:0px
  }

.Dmain .details {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    text-align: left;
    transform: scaleY(0.9);
    transition: all 0.4s ease;
}

.Dmain .container-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: fit-content;
    width: auto;
  }

.Dmain .container-details .image-details{
    width: 20%; 
    height: auto; 
    border: none;
    object-fit: cover;
    padding: 10px;
  }

/* Show the content with animation */
.Dmain .details.show {
    max-height: 2000px;
    /* Adjust based on your content height */
    opacity: 1;
    transform: scaleY(1);
}

/* Hide the content with animation */
.Dmain .details.hide {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0.9);
}

/* General button styling */
.Dmain button {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding:0;
    text-align: right;
    font-size: 18px;
    width: 60px;
    color: #2E4C74;
    font-weight: 400;
    font-style: italic;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Dmain button:hover {
    transition: 0.3s;
    color: #F08C32;
}

@media (max-width: 768px) {

    .Dmain h1 {
        font-size: 20px;
        width: 90%;
    }

    .Dmain h2 {
        font-size: 18px;
    }
    .Dmain h3 {
        font-size: 18px;
    }

    .Dmain p {
        font-size: 16px;
    }

    .Dmain button {
        font-size: 16px;
    }


    .container-Dmain {
        width: 88%;
    }

    .Dmain .container-details{
        margin-right: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
      }
      .Dmain .container-details .image-details{
        width: 88%; 
      }

}