.Pmain h1 {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 26px;
    padding-left: 4%;
    padding-right: 4%;
    margin: 0;
    margin-bottom: 10px;
    color: #2E4C74;
    text-align: left;
    font-style: italic;
}

.Pmain h2 {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding-left: 4%;
    padding-right: 4%;
    margin:0;
    color: #5078AA;
    text-align: left;
    font-style: italic;
}

.Pmain p {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 0;
    margin-bottom: 10px;
    color: #2E4C74;
    text-align: left;
}

.container-Pmain {
    position: relative;
    width: 100%;
    height: fit-content;
}

.Pmain .container-gallery {
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.Pmain .container-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(calc(-100% * var(--current-index, 0)));
}

.Pmain .container-slide img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-btn,
.next-btn {
    position: absolute;
    font-size: 1.4rem;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 999;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.Pmain .container-intro {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    margin: auto;
}

.Pmain .container-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Pmain .container-category-child-left,
.Pmain .container-category-child-right {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: stretch;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Pmain .container-category-child-right {
    flex: 0 0 45%
}

.Pmain .container-type {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 6px;
}

.Pmain .container-type-child {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: stretch;
    word-wrap: break-word;
    /* Break long words to avoid overflow */
    overflow-wrap: break-word;
    /* Same as word-wrap, but for modern browsers */
    white-space: normal;
    flex-shrink: 1;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Pmain .button-type {
    border: none;
    background: none;
    cursor: pointer;
    height: 100%;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 300;
    color: white;
    text-shadow: 1px 1px 2px #2E4C74, -4px -4px 8px #2E4C74;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.Pmain .button-type:hover {
    opacity: 0.8;
    transition: 0.3s;
    content: none;
}

@media (max-width: 768px) {

    .Pmain .container-category {
        flex-direction: column;

    }

    .Pmain .container-type {
        flex-direction: column;
        height: fit-content;

    }

    .Pmain .container-type-child {
        width: 100%;
    }

    .Pmain .container-category-child-left,
    .Pmain .container-category-child-right {
        height: fit-content
    }

    .Pmain .container-category-child-right {
        flex: initial;
    }

    .Pmain h1 {
        font-size: 22px;
        margin-top: 12px;
        margin-bottom: 6px;
    }

    .Pmain h2 {
        font-size: 20px;
        font-weight: 300;
    }

    .Pmain p {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .Pmain .button-type {
        width: 100%;
        height: 70vh;
    }

}