.About h1 {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 26px;
    padding-left: 80px;
    margin: 0;
    margin-top: 30px;
    color: #5078AA;
    text-align: left;
    
}

.About h2 {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #5078AA;
    margin: 0;
    margin-right: 10px;
    text-align: left;
    padding-left: 80px;
    font-style: italic;
}

.About p {
    color: #2E4C74;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300; 
    font-size: 18px;
    text-align: left;
    margin: 0;
    padding-top: 18px;
    
}

.About .p2{
    font-weight: bold;
}

.container-about {
    display: flex;
    flex-direction: row;
    /* Default: horizontal layout */
    justify-content: center;
    align-items: stretch;
    width: 100%;
    /* Ensure it spans the full width of the parent */
    height: auto;
    /* Adjust height based on content */
    overflow: hidden;
    /* Prevent content from overflowing */
    box-sizing: border-box;
    /* Includes padding and border in width/height */
    margin: 0;
    padding: 0;
}

.About .container-image {
    flex: 0 0 35%;
    height: auto;
    display: flex;
    /* Enable alignment options */
    align-items: center;
    /* Center content vertically */
    justify-content: center;
    /* Center content horizontally */
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    /* Reset any margin */
    padding: 0;
    padding-right: 80px;
}

.About .container-blog {
    flex: 1;
    width: 65%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.About .container-explore {
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: row;
    /* Default: horizontal layout */
    justify-items: flex-start;
    align-items: flex-start;
}

.About .container-button {
    flex: 1;
    width: auto;
    height: fit-content;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.About .container-text {
    position: relative;
    padding-left: 80px;
    padding-right: 40px;
    height: auto;
    margin-bottom: 30px;
}

.image-portrait {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* Prevent inline spacing around the image */
}

.button-explore {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: transparent;
    /* Fades out to transparent */
    border: none;
    border-bottom: 1px solid #5078AA;
    padding-right: 10px;
    color: #5078AA;
    font-style: italic;
    font-size: 20px;
    width: 100%;
    text-align: end;
    height: fit-content;
}

.button-explore:hover {
    color: #F08C32;
}

/* Media query for narrow screens (phones and narrow browsers) */
@media (max-width: 768px) {
    .container-about {
        flex-direction: column-reverse;
        /* Stack containers vertically */
    }

    .About .container-image {
        width: 100%;
        padding-right: 0;
    }

    .About .container-blog {
        width: 100%;
    }

    .About .container-text {
        padding-left: 20px;
        padding-right: 20px;
    }


    .About .container-explore {
        flex-direction: column;
        justify-content: center;
    }

    .About .container-button {
        width: 92%;
        padding-left: 4%;
    }

    
    .button-explore {
        padding: 6px;
        font-size: 18px;
    }

    .About h1 {
        font-size: 22px;
        padding-left: 20px;
    }

    .About h2 {
        font-size: 20px;
        padding-left: 20px;
    }

    .About p {
        font-size: 18px;
    }

    .image-portrait {
        /* You can change the image source here using CSS or other properties */
        content: url('/public/images/Portrait-P.jpg');
        width: 100%;
        height: auto;
        min-height: 30vh;
        max-height: 60vh;
    }

}