.Main div {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  height: max-content;
}

.Main h1 {
  color: rgb(107, 81, 82);
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: normal;
  max-width: 80%;
}

.Main p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(107, 81, 82);
  font-size: 16px;
  text-align: left;
  margin-top: 0;
}

.container-main {
  display: flex;
  flex-direction: row;
  /* Default: horizontal layout */
  justify-content: center;
  align-items: stretch;
  width: 100%;
  /* Ensure it spans the full width of the parent */
  height: auto;
  min-height: 72vh;
  /* Adjust height based on content */
  overflow: hidden;
  /* Prevent content from overflowing */
  box-sizing: border-box;
  /* Includes padding and border in width/height */
  margin: 0;
  padding: 0;
}

/* Media query for narrow screens (phones and narrow browsers) */
@media (max-width: 768px) {
  .container-main {
    flex-direction: column-reverse;
    /* Stack containers vertically */
  }

}